.notebook-editor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  z-index: 999;
}

.cm-editor {
  height: auto;
  min-height: 18px;
  font-size: 14px;
}
