:root {
  --bg-color: #121212;
  --text-color: #e0e0e0;

  --cell-bg: #1e1e1e;
  --cell-border: #333;

  --toolbar-bg: #252525;

  --primary-color: #1e88e5;
  --primary-hover: #1565c0;
  --secondary-color: #424242;
  --secondary-hover: #616161;

  --font-family: monospace;

  --container-padding: 12px;
  --border-radius: 0;
  --box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  --transition-speed: 0.3s;

  --code-bg: #282c34;
  --code-text: #abb2bf;

  --dir-color: #f57c00;
  --file-color: #ff5252;
  --notebook-color: #4caf50;

  --border-color: #444;

  --editor-notebook-padding: 8px;
  --editor-cell-bg: #1e1e1e;
  --editor-cell-border: #333;
  --editor-cell-padding: 8px;
  --editor-cell-radius: 0;
  --editor-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);

  --editor-toolbar-gap: 4px;
  --editor-toolbar-bg: #252525;

  --editor-font-size: 14px;
  --editor-font-family-code: menlo, consolas, "DejaVu Sans Mono", monospace;
  --editor-font-family-md: system-ui, -apple-system, blinkmacsystemfont,
    "Segoe UI", helvetica, arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";

  --editor-code-bg: #282c34;
  --editor-code-text: #abb2bf;

  --editor-markdown-bg: #121212;

  --editor-run-btn-bg: #424242;
  --editor-run-btn-hover-bg: #616161;
}
