#toolbar {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.toolbar-title {
  font-size: 1.8rem;
  color: var(--primary-color);
  margin-bottom: 10px;
  margin-top: 0;
}

.toolbar-links {
  display: flex;
  gap: 15px;
}

.toolbar-links a {
  color: var(--text-color);
  text-decoration: none;
}

.version-info {
  margin-left: auto;
}

.version-column {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.9em;
  padding: 5px 10px;
  text-align: right;
  justify-content: center;
}
