button {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius);
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
  accent-color: blue;
}

footer {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 200px;
  max-width: 400px;
  margin: auto;
}

footer a {
  color: cadetblue;
}

main {
  margin-bottom: 50px;
  max-width: 1000px;
  margin: auto;
  padding: 10px;
}

header {
  background-color: var(--toolbar-bg);
  padding: 10px;
}

.hidden {
  display: none;
}

hr {
  margin-bottom: 20px;
}

#utility-tables {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#utility-tables th,
#utility-tables td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 16px;
  color: #e5e5e5;
}

#utility-tables td a {
  color: #e5e5e5;
}

#utility-tables th {
  background-color: #454545;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
