button {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius);
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
  accent-color: blue;
}

footer {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 200px;
}

footer a {
  color: cadetblue;
}

main {
  margin-bottom: 50px;
}
