* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

#flash-message-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  width: auto;
}

.flash-message {
  padding: 15px 20px;
  background-color: #4caf50;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  font-size: 1em;
}

.flash-message.error {
  background-color: #e74c3c;
}

.flash-message.info {
  background-color: #3498db;
}

.content {
  flex: 1;
  padding: 2rem;
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

main {
  padding: 0 2rem;
}

.btn {
  padding: 10px;
  margin: 10px 0;
  background-color: #80ffe8;
  cursor: pointer;
}
